@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>✉️ <script type="text/javascript" language="javascript">
          <!--
          // Email obfuscator script 2.1 by Tim Williams, University of Arizona
          // Random encryption key feature coded by Andrew Moulden
          // This code is freeware provided these four comment lines remain intact
          // A wizard to generate this code is at http://www.jottings.com/obfuscator/
          { coded = "Sa07GuMMu0MaT7@xPupX.VaP"
              key = "FVdxMTXuSKZ2sfYWiPk39o64CJeQBEv5LwIH0UhcpgtnlarNyO7Dz8AmqGR1bj"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                  if (key.indexOf(coded.charAt(i))==-1) {
                      ltr = coded.charAt(i)
                      link += (ltr)
                  }
                  else {     
                      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                      link += (key.charAt(ltr))
                  }
              }
              document.write("<a href='mailto:"+link+"'>"+link+"</a>")
          }
          //-->
      </script><noscript>Sorry, you need Javascript on to email me.</noscript>
</p>

<p>All e-mails will be read, kindly understand that not all messages will receive a reply.</p>