@{
    ViewBag.Title = "Frequently Asked Questions";
}

<h2>@ViewBag.Title</h2>

<h3>How did Rosewatta Stone start?</h3>
<p>A small group of cube enthusiasts in Nebraska stumbled upon the <a href="https://twitter.com/hashtag/GoogleTranslatesMTG?src=hash">#GoogleTranslatesMTG</a> hashtag of <a href="https://twitter.com/itsJulian23">Julian Knab</a> and <a href="https://twitter.com/TheBoozeCube">The Booze Cube</a> accounts and laughed our butts off.  There were only a handful of translated cards at the time, so we decided to create an account that puts out a translated card each day, in the spirit of fellow bot <a href="https://twitter.com/RoboRosewater">RoboRosewater</a>.</p>

<h3>What's the process used to translate the cards?</h3>
<p>We've automated the process into a program where we run a card automatically through about a dozen randomly-selected languages, dozens of times, and pick and choose the results we like the best.</p>

<h3>What languages do you use?</h3>
<p>We pull from all the languages Google Translate offers, and randomly select a handful of languages for the translation chain for each card.  We don't keep track of what languages were used; it's information we just don't keep tabs on. Or do we?...</p>

<h3>Is this for real? You're not just typing this gibberish, are you?</h3>
<p>Yes it's for real, the result is courtesy of Google Translate.  Trust us, we're not that clever.</p>