@{
    ViewBag.Title = "Home";
}

<h2>Rosewatta Stone</h2>

<p>Rosewatta Stone is a "bot" (of sorts) that takes Magic cards, puts them through multiple language iterations of Google Translate, and posts the results.</p>

<p>It's available on the following platforms:</p>

<p><label>Twitter:</label> <a href="https://twitter.com/RosewattaStone">https://twitter.com/RosewattaStone</a></p>

<p><label>Facebook:</label> <a href="https://fb.me/RosewattaStone">https://fb.me/RosewattaStone</a></p>