@{
    ViewBag.Title = "Media Coverage";
}

<h2>@ViewBag.Title</h2>

<p>Rosewatta Stone has gotten a few mentions around the Internet.</p>

<p>We were featured on <a href="https://www.stitcher.com/podcast/magic-the-amateuring/e/51764476">Episode #246</a> of the <a href="http://www.magictheamateuring.com">Magic the Amateuring</a> podcast (now Good Luck High Five).  The funny gals talk about Rosewatta Stone about 43 minutes in.</p>

<p>Our <a href="https://twitter.com/RosewattaStone/status/915924544308867072">translation of Charging Monstrosaur</a> was mentioned as "What People Are Talking About" in the <a href="https://magic.wizards.com/en/articles/archive/daily-magic-update/update-2017-10-06">October 6, 2017</a> Wizards Daily Magic Update.</p>

<p>The charity <a href="https://desertbus.org/">Desert Bus for Hope</a> read some Rosewatta Stone cards on the air during their fundraiser. You can watch <a href="https://youtu.be/0_6MQnikY-Y">a video here</a>.</p>

<p>Mark Rosewater mentioned Rosewatta Stone in a <a href="http://markrosewater.tumblr.com/post/165994859063/i-know-you-are-forbidden-from-looking-at-the">Tumblr post</a>, calling it "quite entertaining".</p>

<p>Website Kotaku higlighted @@RosewattaStone and other #GoogleTranslatesMTG content creators <a href="https://kotaku.com/google-translate-makes-magic-the-gathering-cards-someh-1832327340">in an article</a>.</p>